common:
	parameters:

	php:
		date.timezone: Europe/Prague
		zlib.output_compression: yes

	nette:
		application:
			errorPresenter: SwapMeet:Error

		session:
			expiration: 14 days

		debugger:
			bar:
				- @swapMeet.orm.dibipanel

		mailer:
			smtp: false

	extensions:
		events: Kdyby\Events\DI\EventsExtension
		swapMeet: Echo511\SwapMeet\DI\SwapMeetExtension

production < common:

development < common:
