{block #content}

<h1>Přihlášení</h1>
{form loginForm, class => "form form-inline"}
	{input username, placeholder => "Uživatelské jméno"}
	{input password, placeholder => "Heslo"}
	{input submit, class => "btn btn-primary", value => "Přihlásit se"}
{/form}